{% extends "wagtailadmin/base.html" %}
{% block titletag %}{{ current_year }} calendar{% endblock %}

{% block extra_css %}
    {{ block.super }}
    <style>
    </style>
{% endblock %}

{% block content %}
    {% include "wagtailadmin/shared/header.html" with title="Modal Title" icon="no-view" %}

    <div class="nice-padding">
        conditionals_questions : {{ conditionals_questions }}
        <form action="{% url 'filter' %}" method="post">
            {% csrf_token %}
            {% if conditionals_questions.count > 0 %}
                <p>
                    <label for="{{ filter_form.intersection_operator.id_for_label }}">{{ filter_form.intersection_operator.label }}</label>
                    {{filter_form.intersection_operator}}
                </p>
            {% endif %}

            <p>
                <label for="{{ filter_form.conditional_question.id_for_label }}">{{ filter_form.conditional_question.label }}</label>
                {{filter_form.conditional_question}}
            </p>

            <p id="id_display_response_choices" style="display: none;">
                <label for="{{ filter_form.response_choices.id_for_label }}">{{ filter_form.response_choices.label }}</label>
                {{filter_form.response_choices}}
            </p>
            <p id="id_display_scale_response" style="display: none;">
            </p>
            <p id="id_display_numerical_response" style="display: none;">
                <label for="{{ filter_form.numerical_operator.id_for_label }}">{{ filter_form.numerical_operator.label }}</label>
                {{filter_form.numerical_operator}}
                <label for="{{ filter_form.numerical_value.id_for_label }}">{{ filter_form.numerical_value.label }}</label>
                {{filter_form.numerical_value}}
            </p>
            <p id="id_display_boolean_response" style="display: none;">
                <label for="{{ filter_form.boolean_response.id_for_label }}">{{ filter_form.boolean_response.label }}</label>
                {{filter_form.boolean_response}}
            </p>

            <input type="submit" value="Ajouter">
        </form>
    </div>

    <script type="text/javascript">
        const QUESTIONS_RESPONSE_BY_ID = JSON.parse("{{questions_response_by_id | escapejs }}");
        console.log(QUESTIONS_RESPONSE_BY_ID)

        var new_question_filter = document.getElementById("id_conditional_question");
        var display_response_choices = document.getElementById("id_display_response_choices");
        var display_scale_response = document.getElementById("id_display_scale_response");
        var display_numerical_response = document.getElementById("id_display_numerical_response");
        var display_boolean_response = document.getElementById("id_display_boolean_response");

        new_question_filter.addEventListener("change", function() {
            const new_question_filter_type = QUESTIONS_RESPONSE_BY_ID[new_question_filter.value].type
            if (new_question_filter_type == "unique_choice" || new_question_filter_type == "multiple_choice"){
                var str = ""
                for (const [response_choice_id, response_choice] of Object.entries(QUESTIONS_RESPONSE_BY_ID[new_question_filter.value].responses)) {
                    str += "<option value=' "+ response_choice +"'>" + response_choice + "</option>"
                  }
                  document.getElementById("id_response_choices").innerHTML = str;
                display_response_choices.style.display =  "block";
            } else {
                display_response_choices.style.display =  "none";
            }

            if (new_question_filter_type == "numerical" || new_question_filter_type == "closed_with_scale") {
                display_numerical_response.style.display =  "block";
            } else {
                display_numerical_response.style.display =  "none";
            }

            if (new_question_filter_type == "closed_with_scale") {
                display_scale_response.innerHTML = "La réponse est contenu entre "
                    + QUESTIONS_RESPONSE_BY_ID[new_question_filter.value].min
                    + " et "
                    + QUESTIONS_RESPONSE_BY_ID[new_question_filter.value].max
                display_scale_response.style.display =  "block";
            } else {
                display_scale_response.style.display =  "none";
            }

            if (new_question_filter_type == "boolean") {
                display_boolean_response.style.display =  "block";
            } else {
                display_boolean_response.style.display =  "none";
            }
        });
    </script>

{% endblock %}
