{% extends "wagtailadmin/base.html" %}

{% block content %}
    {% include "wagtailadmin/shared/header.html" with title="Modal Title" icon="no-view" %}

    <div class="nice-padding">
        {% if data.question %}
        <h1>Conditions d'affichage pour la question : <i>{{ data.question }}</i></h1>
        {% elif data.profile_type %}
        <h1>Définition du profil : <i>{{ data.profile_type }}</i></h1>
        {% endif %}

        <b>Lien logique entre les différentes conditions :</b>
        <form id="intersection-operator-form" action="{% if data.question %} {% url 'question-intersection-operator' data.question.id %} {% elif data.profile_type %} {% url 'profile-type-intersection-operator' data.profile_type.id %} {% endif %}" method="post">
            {% csrf_token %}
            <div style="display: flex;">
                <input
                    id="toggle-or"
                    class="toggle toggle-left"
                    name="intersection-operator"
                    value="or"
                    type="radio"
                    {% if data.rules_intersection_operator == "or" %}checked{% endif %}
                    onclick="document.getElementById('intersection-operator-form').submit()">
                <label for="toggle-or" class="btn">OU</label>
                <input
                    id="toggle-and"
                    class="toggle toggle-right"
                    name="intersection-operator"
                    value="and"
                    type="radio"
                    {% if data.rules_intersection_operator == "and" %}checked{% endif %}
                    onclick="document.getElementById('intersection-operator-form').submit()"
                >
                <label for="toggle-and" class="btn">ET</label>
            </div>
        </form>

        {% if data.rules.count > 0 %}
            {% if data.question %}
            <h2>Conditions d'affichage déjà existantes</h2>
            {% elif data.profile_type %}
            <h2>Règles déjà existantes</h2>
            {% endif %}

            <ul class="multiple">
                {% for rule in data.rules %}
                    <li>
                        <ul class="controls">
                            <li>
                                <form action="{% if data.question %} {% url 'delete-question-filter' data.question.id rule.id %} {% elif data.profile_type %} {% url 'delete-profile-type-definition' data.profile_type.id rule.id %} {% endif %}" method="post">
                                    {% csrf_token %}
                                    <button
                                        type="submit"
                                        class="button button-small button--icon text-replace white hover-no"
                                        title="Supprimer"
                                        onclick="document.getElementById('confirm-delete-{{ rule.id }}').style.display='block'"
                                    >
                                        <svg class="icon icon-bin icon" aria-hidden="true" focusable="false"><use href="#icon-bin"></use></svg>Supprimer
                                    </button>
                                </form>
                            </li>
                        </ul>
                        <fieldset class="chooser">
                            <div class="chosen">
                                <svg class="icon icon-snippet icon" aria-hidden="true" focusable="false">
                                    {% if rule.conditional_profile_type or rule.conditional_question.profiling_question %}
                                    <use href="#icon-user"></use>
                                    {% else %}
                                    <use href="#icon-list-ol"></use>
                                    {% endif %}
                                </svg>
                                <b class="title">{{ rule.conditional_profile_type|default:rule.conditional_question }}</b>
                            </div>
                            <div>
                                {% if rule.response_choices.count > 0 %}
                                    (Lien logique : ou)
                                    {% for response_choice in rule.response_choices.all %}
                                        réponse = {{ response_choice }}
                                    {% endfor %}
                                {% elif rule.numerical_operator %}
                                    réponse {{ rule.numerical_operator }} {{ rule.numerical_value }}
                                {% elif rule.boolean_response %}
                                    réponse = {{ rule.boolean_response }}
                                {% endif %}
                            </div>
                        </fieldset>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if data.question %}
        <h2>Créer une nouvelle condition d'affichage</h2>
        <form action="{% url 'question-filter' data.question.id %}" method="post">
        {% elif data.profile_type %}
        <h2>Créer une nouvelle règle</h2>
        <form action="{% url 'profile-type-definition' data.profile_type.id %}" method="post">
        {% endif %}
            {% csrf_token %}
            {{ rule_form.question.as_hidden }}
            {{ rule_form.profile_type.as_hidden }}
            <div style="display: flex;">
                <input id="toggle-conditional-question" class="toggle toggle-left" name="conditional_type" value="question" type="radio" checked>
                <label for="toggle-conditional-question" class="btn">Question</label>
                <input id="toggle-conditional-profile-type" class="toggle toggle-right" name="conditional_type" value="profile" type="radio">
                <label for="toggle-conditional-profile-type" class="btn">Profil</label>
            </div>

            <div id="id_display_conditional_question" style="display: block;">
                <div>
                    {{ rule_form.conditional_question.error }}
                    {{ rule_form.conditional_question.label_tag }}
                    {{ rule_form.conditional_question }}
                </div>

                <div id="id_display_response_choices" style="display: none;">
                    {{ rule_form.response_choices.error }}
                    {{ rule_form.response_choices.label_tag }}
                    {{ rule_form.response_choices }}
                </div>
                <div id="id_display_scale_response" style="display: none;">
                </div>
                <div id="id_display_numerical_response" style="display: none;">
                    {{ rule_form.numerical_operator.error }}
                    {{ rule_form.numerical_operator.label_tag }}
                    {{ rule_form.numerical_operator }}
                    {{ rule_form.numerical_value.error }}
                    {{ rule_form.numerical_value.label_tag }}
                    {{ rule_form.numerical_value }}
                </div>
                <div id="id_display_boolean_response" style="display: none;">
                    {{ rule_form.boolean_response.error }}
                    {{ rule_form.boolean_response.label_tag }}
                    {{ rule_form.boolean_response }}
                </div>
            </div>
            <div id="id_display_conditional_profile_type" style="display: none;">
                <div>
                    {{ rule_form.conditional_profile_type.error }}
                    {{ rule_form.conditional_profile_type.label_tag }}
                    {{ rule_form.conditional_profile_type }}
                </div>
            </div>
            <br/>
            <div class="actions">
                <input type="submit" class="button button-small button-secondary" value="Ajouter">
            </div>
        </form>

        <a type="button" class="button button-small button-secondary" style="margin-top: 1rem;"
            href="{% if data.question %} /admin/snippets/open_democracy_back/questionnairequestion/ {% elif data.profile_type %} /admin/snippets/open_democracy_back/profilingquestion/ {% endif %}"
            >Terminer</a>
    </div>

    <script type="text/javascript">
        const QUESTIONS_RESPONSE_BY_QUESTION_ID = JSON.parse("{{ data.questions_response_by_question_id | escapejs }}");

        var display_conditional_question = document.getElementById("id_display_conditional_question");
        var new_rule = document.getElementById("id_conditional_question");
        var display_response_choices = document.getElementById("id_display_response_choices");
        var display_scale_response = document.getElementById("id_display_scale_response");
        var display_numerical_response = document.getElementById("id_display_numerical_response");
        var display_boolean_response = document.getElementById("id_display_boolean_response");

        var display_conditional_profile_type = document.getElementById("id_display_conditional_profile_type");

        document.getElementById("toggle-conditional-question").addEventListener("click", function() {
            display_conditional_question.style.display = "block";
            display_conditional_profile_type.style.display = "none";
        })

        document.getElementById("toggle-conditional-profile-type").addEventListener("click", function() {
            display_conditional_question.style.display = "none";
            display_conditional_profile_type.style.display = "block";
        })

        new_rule.addEventListener("change", function() {
            const new_rule_type = QUESTIONS_RESPONSE_BY_QUESTION_ID[new_rule.value].type
            if (new_rule_type == "unique_choice" || new_rule_type == "multiple_choice"){
                var str = ""
                for (const [response_choice_id, response_choice] of Object.entries(QUESTIONS_RESPONSE_BY_QUESTION_ID[new_rule.value].responses)) {
                    var id = "id_response_choices_" + response_choice_id
                    str += "<li><label for='" + id + "'>"
                        + "<input type='checkbox' name='response_choices' value='" + response_choice_id + "' id='" + id + "'></input>"
                        + response_choice
                        + "</label></li>"
                }
                document.getElementById("id_response_choices").innerHTML = str;
                display_response_choices.style.display =  "block";
            } else {
                display_response_choices.style.display =  "none";
            }

            if (new_rule_type == "numerical" || new_rule_type == "closed_with_scale") {
                display_numerical_response.style.display =  "block";
            } else {
                display_numerical_response.style.display =  "none";
            }

            if (new_rule_type == "closed_with_scale") {
                display_scale_response.innerHTML = "La réponse est contenu entre "
                    + QUESTIONS_RESPONSE_BY_QUESTION_ID[new_rule.value].min
                    + " et "
                    + QUESTIONS_RESPONSE_BY_QUESTION_ID[new_rule.value].max
                display_scale_response.style.display =  "block";
            } else {
                display_scale_response.style.display =  "none";
            }

            if (new_rule_type == "boolean") {
                display_boolean_response.style.display =  "block";
            } else {
                display_boolean_response.style.display =  "none";
            }
        });
    </script>

{% endblock %}

{% block extra_css %}
    {{ block.super }}
    <style>
        .delete-buttons{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .btn {
            border: 2px solid var(--color-primary);
            display: inline-block;
            padding: 8px;
            position: relative;
            text-align: center;
            transition: background 600ms ease, color 600ms ease;
       }
        input[type="radio"].toggle {
            display: none;
       }
        input[type="radio"].toggle + label {
            cursor: pointer;
            min-width: 50px;
            color: var(--color-primary);
       }
        input[type="radio"].toggle.toggle-left + label {
            border-right: 0;
       }
        input[type="radio"].toggle.toggle-right + label {
            margin-left: -5px;
       }
        input[type="radio"].toggle:checked + label {
            cursor: default;
            color: #fff;
            background-color: var(--color-primary);
            transition: color 200ms;
       }

    </style>
{% endblock %}
