<div>
    <b>Lien logique entre les différentes conditions :</b>
    <form id="intersection-operator-form" action="{% url url id %}" method="post">
        {% csrf_token %}
        <div style="display: flex;">
            <input
                id="toggle-or"
                class="toggle toggle-left"
                name="intersection-operator"
                value="or"
                type="radio"
                {% if rules_intersection_operator == "or" %}checked{% endif %}
                onclick="document.getElementById('intersection-operator-form').submit()">
            <label for="toggle-or" class="btn">OU</label>
            <input
                id="toggle-and"
                class="toggle toggle-right"
                name="intersection-operator"
                value="and"
                type="radio"
                {% if rules_intersection_operator == "and" %}checked{% endif %}
                onclick="document.getElementById('intersection-operator-form').submit()"
            >
            <label for="toggle-and" class="btn">ET</label>
        </div>
    </form>
</div>
